body {
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
}

.container {
    margin: 50px auto;
}

h1 {
    color: maroon;
}

h2 {
    margin-top: 20px;
}

.timetable-options {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.option {
    background-color: maroon;
    color: white;
    padding: 30px;
    margin: 0 30px;
    border-radius: 10px;
    width: 250px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    transition: transform 0.3s, background 0.3s;
}

.option:hover {
    transform: scale(1.1);
    background: linear-gradient(to left, gold, maroon);
}

.timetable-options a {
    text-decoration: none;
    color: white;
}